<nav class="navbar navbar-inverse navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <h2 class="text-left navbar-brand">FootSense</h2>
        </div>
        <div id="navbar" class="navbar-collapse collapse" *ngIf="hasLogin()">
            <ul class="nav navbar-nav navbar-right">
                <li><h4><p class="text-info">{{email}}</p></h4></li>
                <li><button class="btn btn-danger" (click)="onLogout()">Logout</button></li>
            </ul>
        </div>
    </div>
</nav>

